<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-icon.png">
    <link rel="shortcut icon" href="favicon.ico">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/Admin/css/animate.css" rel="stylesheet" />
    <link href="~/Content/Admin/css/normalize.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Admin/css/normalize.css">
    <link rel="stylesheet" href="~/Content/Admin/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Admin/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/Admin/css/themify-icons.css">
    <link rel="stylesheet" href="~/Content/Admin/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/Content/Admin/css/cs-skin-elastic.css">
    <link href="~/Content/Admin/css/lib/datatable/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="~/Content/Admin/css/bootstrap-select.less"> -->
    <link rel="stylesheet" href="~/Content/Admin/scss/style.css">
    <link href="~/Content/Admin/css/lib/vector-map/jqvmap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
    <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.min.js"></script> -->
    <script src="~/Content/LoadingBar/jquery.loadingModal.min.js"></script>
    <link href="~/Content/LoadingBar/jquery.loadingModal.min.css" rel="stylesheet" />
    <script src="~/Content/JS/LoadingBar.js"></script>
    <link href="~/Content/MyCSS.css" rel="stylesheet" />

</head>