
@{
    ViewBag.Title = "test";
    Layout = "~/Areas/Admin/Views/Shared/_LayOut.cshtml";
}
<h2 id="T">test</h2>
@section ClientScript{
    <script type="text/javascript">
        $("#TrangHienTai").text("Trang thử");
        $("#DuongDanTrangHienTai").text("Trang chủ / Thử");
    </script>
}