*{box-sizing:border-box;}
body{}
#regForm{}
h1{}
input{}
input.invalid{background-color:#ffdddd;}
.tabz{display:none;}
button{}
button:hover{}
#prevBtn{background-color:#bbbbbb;}
.step{height:15px;width:15px;margin:0 2px;background-color:#bbbbbb;border:none;border-radius:50%;display:inline-block;opacity:0.5;}
.step.active{opacity:1;}
.step.finish{background-color:#4CAF50;}