<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta charset="UTF-8" />
    <title>@ViewBag.Title</title>
    <meta content="Project_V" name="description" />
    <meta content="" name="keywords" />
    <link rel="shortcut icon" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta content="vi_VN" property="og:locale" />
    <meta content="website" property="og:type" />
    <meta content="Project_V" property="og:title" />
    <meta content="Project_V" property="og:description" />
    <meta content="http://fb.com/hoalaxanh123" property="og:image" />
    <meta content="http://fb.com/hoalaxanh123" property="og:url" />
    <meta content="Project_V" property="og:site_name" />
    <meta property="fb:admins" content="hoalaxanh123" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <link href="~/Content/source/Scripts/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/source/App_Themes/Home/common.css" rel="stylesheet" />
    <link href="~/Content/source/Scripts/App_Themes/Home/animate.css" rel="stylesheet" />

    <script src="~/Content/source/Scripts/BootStrap/bootstrap.min.js"></script>

    <script src="~/Content/source/Scripts/fix-height.js"></script>
    <link href="~/Content/source/style.css" rel="stylesheet" />
    <link href="~/Content/source/responsive.css" rel="stylesheet" />


    @*Chen link tao icon cuc hay - https://fontawesome.com*@
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

    <link href="~/Content/MyCSS.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Content/JS/myJS.js"></script>
    <link href="~/Content/StepByStep/StepByStep.css" rel="stylesheet" />

    @* Confirm dialog *@
    <link href="~/Content/ConfirmDialog/dist/jquery-confirm.min.css" rel="stylesheet" />
    <script src="~/Content/ConfirmDialog/dist/jquery-confirm.min.js"></script>

    @* Controller *@
    <script src="~/Content/JS/Cart.js"></script>
    <script src="~/Content/JS/LogOut.js"></script>
    <script src="~/Content/JS/Login_User.js"></script>

    @* Loading bar top *@
    <script src="~/Content/LoadingBarTop/jquery-loading-bar.js"></script>
    <link href="~/Content/LoadingBarTop/loading-bar.css" rel="stylesheet" />

    @* Lazy load chạy ajax *@
    <script src="~/Content/JS/jquery.lazyloadxt.js"></script>
</head>
